/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
}
a{
    text-decoration: none;
    color: #b8e1ee;
}

/*  */
/* html{
    scroll-behavior: smooth;
} */
body{
    height: 200vh;
    background-color: #00110c;
    
}
header{
    display:flex;
    align-items:center;
    height: 34px;
    background-color: #04120c;
    color: #b8e1ee;
    justify-content: space-between;
}

.button-in-header{
    padding:10px;
    font-weight: 700;
    cursor:pointer;
    height: 34px;
    box-sizing: border-box;
}

.button-in-header:hover{
    background-color: #127374;
}

.button-in-header .long-text{
    display:none;
}

#riguth-buttons{
    display:flex;
}

#active-menu{
    background-color: #013a3b;
}

#image-wrapper{
    overflow: hidden;
}

#document-title{
    color:#b8e1ee;
    font-size: 170%;
    font-weight: 300;
    letter-spacing: 10px;
    margin-bottom: 40px;
}

#mountain-tag-wrapper{
    display:flex;
    font-size: 18px;
    font-weight: 700;
    gap: 50px;
    flex-direction: column;
}

.mountain-content-wrapper{
    display:flex;
    flex-direction: column;
    gap: 40px;
 
}

.mountain-content-list{
    background-color: #b8e1ee;
    width: 325px;
    color:#04210c;
    height: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#main-content-wrapper{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:880px){
    .button-in-header .long-text{
        display:inline;
    }
    .buttoin-in-header .short-text{
        display:none;
    }
    #mountain-tag-wrapper{
        flex-direction: row;
    }
}
/* width 뷰포트 너비
   height 뷰포트 높이
   device-width 장치 너비
   device-height 장치 높이
   orientation 장치 방향
   resolution 장치 해상도
*/