body{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    background-color:#24145e;
}

@keyframes rotation{
    to{
        transform:rotateZ(360deg);
    }
    
}

@keyframes shrinkAndGrow{
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes expandHorizontal{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes appearFromBottom{
    from{
        transform:translateY(1000px);
    }
    to{
        transform:translateY(0px);
    }
    
}

@keyframes shakingUpAndDown{
    from{
        transform: translateY(0);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    70%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes soaking{
    to{
        transform: translateY(-250px) scale(0);
    }
}
@keyframes shrinkHorizontal{
    to {
        transform: scaleX(0);
      }
}

#planet_2{
    animation-name:rotation;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    transform-box:fill-box;
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#planet_1{
    animation-name:rotation;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    transform-box:fill-box;
    transform-origin: center;
    animation-timing-function:ease;
}

#start_6{
    animation:shrinkAndGrows 4s infinite;
    transform-box:fill-box;
    transform-origin: center;
    animation-timing-function:ease-in;
}

#start_5{
    animation:shrinkAndGrows 4s infinite;
    transform-box:fill-box;
    transform-origin: center;
    animation-timing-function:ease-in-out;
}

#start_6{
    animation:shrinkAndGrows 7s infinite;
    transform-box:fill-box;
    transform-origin: center;
    animation-timing-function:linear;
}

#start_4{
    animation:shrinkAndGrows 2s infinite;
    transform-box:fill-box;
    transform-origin: center;
}

#start_8{
    animation:shrinkAndGrows 3s infinite;
    transform-box:fill-box;
    transform-origin: center;
}

#UFO-beam{
    animation: expandHorizontal 3.5s;
    transform-box:fill-box;
    transform-origin: center;
}

#number-0{
    animation: appearFromBottom 3s;
}

#alien_hand-R, #alien_hand-L{
    animation: shakingUpAndDown 1s infinite;
}

#number-0-soaking{
    animation:soaking 2s;
    transform-box:fill-box;
    transform-origin: center;
}

#UFO-beam-disappearing{
    animation:shrinkHorizontal 2s;
    transform-box:fill-box;
    transform-origin: center;
}